{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}
All Pages
{% endblock %}
{% block content %}
<p><u>The following articles are defined in this wiki</u></p>
<ul>
{% for link, title, aliasof in articles %}
<li><a href="{{link}}">{{title}} {% if aliasof != title %}(alias of {{aliasof}}){% endif %}</a></li>
{% endfor %}
</ul>
<p><u>The following tags are defined in this wiki</u></p>
<ul>
{% for (link, title) in tags %}
<li><a href="{{link}}">{{title}}</a></li>
{% endfor %}
</ul>
{% endblock %}