{% extends "base.html.j2" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}
    No article found
{% endblock %}
{% block content %}
    <p>
        <u>
            {% if reason == 'weak' %}
                No article was found matching to a satisfactory level
            {% endif %}
            {% if reason == 'ambiguous' %}
                Multiple articles were found matching
            {% endif %}
            query {{ query }}, the candidates are:</u>
    </p>
    <ul class="results">
        {% for link, title, score in pages %}
            <li><a href="{{ link }}">{{ title }} (score: {{ score }})</a></li>
        {% endfor %}
    </ul>
{% endblock %}